@import 'https://fonts.googleapis.com/css?family=Raleway';

:root{
    font-family: Roboto, sans-serif;
    background-color: #164E6A;
}

html, body
{
    margin: 0px;
    min-width: 500px;
}

div.container
{
    font-family: Raleway, sans-serif;
    margin: 0 auto;
    text-align: center;
    line-height: 4em;
}

div.container a
{
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.green
{
    background: #4caf50;
}

/* Border X get width  */
div.borderXwidth a:before, div.borderXwidth a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

div.borderXwidth a:before
{
    left: 0px;
    top: 0px;
}

div.borderXwidth a:after
{
    right: 0px;
    bottom: 0px;
}

div.borderXwidth a:hover:before, div.borderXwidth a:hover:after
{
    opacity: 1;
    width: 100%;
}

.headtitle
{
    font-family: Roboto, sans-serif;
    font-size: 4em;
    margin: 1px 0 0 10px;
    text-align: left;
    color: darkgreen;
    display: flex;
}

.welcometitle
{
    color: #FFFFFF;
    font-size: 16px;
    justify-content: right;
    vertical-align: top;
    margin: 0 10px 0 auto;
}
/*login*/
.bodyBox
{
    width: 100%;
    height: 100%;
    display: block;
}
.loginBox
{
    display: block;
    background-color: #FFFFFF;
    width: 350px;
    margin: 100px auto;
    padding: 10px;
    border: 2px black;
    border-radius: 35px;
    align-items: center;
    box-shadow: 4px 4px 10px rgba(9, 36, 49, 1);
}

.lineBlock
{
    width: 90%;
    text-align: center;
    margin: 15px auto;
    line-height: 3em;
}

.bo
{
    border: 1px solid darkgreen;
    border-radius: 15px;
}

.lineBlockBTN
{
    width: 150px;
    height: 40px;
    border-radius: 15px;
    border: none;
    margin-top: 40px;
    box-shadow: 0 2px 5px rgba(3, 125, 35, 0.58);
}

.massageBlock
{
    text-align: center;
    font-size: small;
}

/*card box*/
.cardBox
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    min-width: 300px;
    margin: 25px 10px 0 10px;
    text-align: center;
    background-color: gainsboro;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}