{% extends "auctions/layout.html" %}
{% block title %}Categories{% endblock %}

{% block body %}

    {% if categories %}
            <div>
            <div class="cards-8 section-gray">
            <div class="container">
                <div class="row">
                    {% for item in categories %}
                    <div class="col-md-3">
                        <div class="card card-product">
                            <div class="table">
                                <h6 class="category text-rose">{{ l.category }}</h6>
                                <h4 class="card-caption">
                                <a href="{% url 'category_item' item.pk %}">{{ item.title }}</a>
            					</h4>
                                <div class="card-description"> <p style="width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Check items in <strong>{{ item.title }}</strong> category</p> </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            </div>
            </div>
    {% else %}
        <div>
            <div class="cards-8 section-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card card-product">
                            <div class="table">
                                <h6 class="category text-rose">{{ l.category }}</h6>
                                <h4 class="card-caption">
                                <a>Noting here!</a>
            					</h4>
                                <div class="card-description"> <p style="width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Add the first category.</p> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
    {% endif %}


{% endblock %}