{% extends "auctions/layout.html" %}
{% block title %}{{ category }}{% endblock %}

{% block body %}
    {% if items %}
        {% for item in items %}
            <div>
                <a href="{% url 'list_detail' item.pk %}"><h1>{{ item.title }}</h1></a>
                {% if item.imageUrl %}
                    <img style="max-width: 200px" src="{{ item.imageUrl }}" alt="{{ item.title }}">
                {% else %}
                    <img style="max-width: 200px" src="{{ item.image.url }}" alt="{{ item.title }}">
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}