{% extends "auctions/layout.html" %}
{% block title %}{{ item.title }}{% endblock %}

{% block body %}
    <h1>{{ item.title }}</h1>
    {% if item.imageUrl %}
    	<div style="max-height: 250px; max-width: 250px;">
            <img style="max-height: 250px" src="{{ item.imageUrl }}" alt="{{ item.title }} || {{ item.description }}">
        </div>
    {% else %}
        <div style="max-height: 250px; max-width: 250px;">
            <img style="max-height: 250px" src="{{ item.image.url }}" alt="{{ item.title }} || {{ item.description }}">
        </div>
    {% endif %}
    <p>Description:</p>
    <pre>{{ item.description }}</pre>
    <p>category:</p>
    {{ item.category }}


{#    {% if watch %}#}
{#        <form action="{% url 'rm_watch' item.pk %}" method="post">#}
{#        {% csrf_token %}#}
{#            <input type="submit" value="REMOVE">#}
{#        </form>#}
{#    {% else %}#}
{#        <form action="{% url 'add_watch' item.pk %}" method="post">#}
{#        {% csrf_token %}#}
{#            <input type="submit" value="ADD...">#}
{#        </form>#}
{#    {% endif %}#}
    <form action="{% url 'bid_place' item.pk %}" method="post">
    {% csrf_token %}
        {% if massage %}
            <p>{{ massage }}</p>
        {% endif %}
        <input type="number" name="bid_in" id="bid_in" required>
        <button type="submit">bid</button>
    </form>
    <p>{{ last_bid.bid }}</p>

{% endblock %}