{% extends "auctions/layout.html" %}
{% block title %}{{ item.title }}{% endblock %}

{% block body %}

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col col-md-12 pr-md-5 pl-md-5">
                <div class="bd-example bd-example-tabs">
                    <div class="tab-content pt-5 pb-5" id="pills-tabContent">
                        <div class="tab-pane fade active show" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">
                            <div class="container-fluid">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-12 col-md-5  text-left">
                                        <h2>{{ item.title }} </h2>
                                        <h6 class=" mt-4">Category: <a href="{% url 'category_item' item.category.pk %}">{{ item.category }}</a></h6>
                                        <hr>
                                        <h6>Description:</h6>
                                        <p class=" mt-4">{{ item.description }} </p>
                                        <hr>
                                        <h6>Comments:</h6>

                                    <!-- Show Comment -->
                                    {% if comments %}
                                    	{% for comment in comments %}
                                        <blockquote class="card  text-left  py-3 px-4 mb-3 mt-4  ">
                                            <div class="row align-items-center justify-content-between">
                                                <div class="col-3  p-md-1 text-center rounded">
                                                    {% if item.imageUrl %}
                                                    <img src="{{ item.imageUrl }}" class="img-fluid py-0 rounded" alt="features">
                                                    {% else %}
                                                    <img src="{{ item.image.url }}" class="img-fluid py-0 rounded" alt="features">
                                                    {% endif %}
                                                    <footer class="blockquote-footer small p-1"><span class="small">{{ comment.auther }}</span>

                                                    </footer>

                                                </div>
                                                <div class="col-9 position-relative">
                                                    <p class=" m-0 text-muted small">
                                                        {{ comment.text }}
                                                    </p>
                                                    {% if  comment.auther == user %}
                                                        <form action="{% url 'comment_del' comment.pk %}" method="post">
                                                        {% csrf_token %}
                                                            <button class="fa fa-fire fa-2x text-muted pull-right mt-3" aria-hidden="true"></button>
                                                        </form>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </blockquote>
                                    {% endfor %}
                                    {% else %}
                                        <blockquote class="card  text-left  py-3 px-4 mb-3 mt-4  ">
                                            <div class="row align-items-center justify-content-between">
                                                <div class="col-3  p-md-1 text-center rounded">
                                                    {% if item.imageUrl %}
                                                        <img src="{{ item.imageUrl }}" class="img-fluid py-0 rounded" alt="features">
                                                    {% else %}
                                                        <img src="{{ item.image.url }}" class="img-fluid py-0 rounded" alt="features">
                                                    {% endif %}
                                                </div>
                                                <div class="col-9 position-relative">
                                                    <p class=" m-0 text-muted small">
                                                        NOTING HERE !!!
                                                    </p>
                                                </div>
                                            </div>
                                        </blockquote>
                                    {% endif %}

                                    <!--Add Comment -->
                                    {% if item.isActive == True %}
                                    <form action="{% url 'list_detail' item.pk %}" method="post">
                                    {% csrf_token %}
                                    {{ com_form.as_p }}
                                    <button type="submit" class="btn btn-primary  btn-rounded shadow py-3 px-5 mt-md-3 mt-2">Add Comment</button>
                                    </form>
                                    {% else %}
                                    <form action="{% url 'list_detail' item.pk %}" method="post">
                                    {% csrf_token %}
                                    {{ com_form.as_p }}
                                    <button disabled type="submit" class="btn btn-primary  btn-rounded shadow py-3 px-5 mt-md-3 mt-2">Add Comment</button>
                                    </form>
                                    {% endif %}



                                    <!--Close auction -->
                                    {% if item.isActive %}
                                        {% if item.auther == user %}
                                            <a href="{% url 'bid_end' list_id=item.pk %}" class="btn btn-danger  btn-rounded shadow py-3 px-5 mt-md-3 mt-2">End Auction</a>
                                        {% endif %}
                                    {% endif %}

                                    </div>
                                    <div class="col-12 col-md-5 mb-4 ml-md-auto">

                                    <!-- Add to watchlist -->
                                        {% if watch %}
                                        <form action="{% url 'rm_watch' item.pk %}" method="post">
                                        {% csrf_token %}
                                            <input class="btn" type="submit" value="💔">
                                        </form>
                                        {% else %}
                                        <form action="{% url 'add_watch' item.pk %}" method="post">
                                        {% csrf_token %}
                                            <input class="btn" type="submit" value="❤️">
                                        </form>
                                        {% endif %}

                                        {% if item.imageUrl %}
                                        <img alt="image" class="img-fluid img-center mr-auto ml-auto d-none d-md-block" src="{{ item.imageUrl }}">
                                        {% else %}
                                        <img alt="image" class="img-fluid img-center mr-auto ml-auto d-none d-md-block" src="{{ item.image.url }}">
                                        {% endif %}
                                        <footer class="blockquote-footer"><span class="small"><h6>Price:</h6><h4>$ {{ item.price }}</h4></span>

                                        <p><strong>Highest Bid: </strong>{{ last_bid.bid }}</p>
                                        <form action="{% url 'bid_place' item.pk %}" method="post">
                                        {% csrf_token %}
                                            {% if massage %}
                                                <p>{{ massage }}</p>
                                            {% endif %}
                                            {% if item.isActive == True %}
                                            <input class="form-control" type="number" name="bid_in" id="bid_in" required min="{{ item.price }}">
                                            <button class="btn" type="submit">bid</button>
                                            {% else %}
                                            <input disabled class="form-control" type="number" name="bid_in" id="bid_in" required min="{{ item.price }}">
                                            <button disabled class="btn" type="submit">bid</button>
                                            {% endif %}
                                        </form>

                                        </footer>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}