{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{% block title %}Auctions{% endblock %}</title>
{#    my normalize#}
        <link href="{% static 'auctions/normalize.css' %}" rel="normalize">
{#    my main stylesheet#}
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
{#    My favicon#}
        <link type="image/png" sizes="96x96" rel="icon" href="{% static 'icon/icons8-shop-96.png' %}">
    </head>

    <body>
        <div class="container green borderXwidth">
            <div class="headtitle">
                <strong>Auctions</strong>
                <span class="welcometitle">
                    {% if user.is_authenticated %}
                        Welcome <strong>{{ user.username }}</strong>
                    {% else %}
                        Login please!
                    {% endif %}
                </span>
            </div>
            <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
            {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
            {% else %}
                <a class="nav-link" href="{% url 'login' %}">Log In</a>
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
        {% block body %}

        {% endblock %}
    </body>
</html>
