{% extends 'auctions/layout.html' %}
{% block title %}Create listing{% endblock %}

{% block body %}

{##}
{#    <div class="bodyBox">#}
{#        <div class="loginBox">#}
{#            <h1 class="lineBlock">Create New Listing</h1>#}
{#            {% if message %}#}
{#                <div class="lineBlock">{{ message }}</div>#}
{#            {% endif %}#}
{##}
{#            <form action="{% url 'listing' %}" method="post">#}
{#            {% csrf_token %}#}
{#                <div>#}
{#                    <label>#}
{#                        Title:#}
{#                        <input class="lineBlock bo" autofocus type="text" name="title" placeholder="Title">#}
{#                    </label>#}
{#                </div>#}
{#                <div>#}
{#                    <label>#}
{#                        Description:#}
{#                        <textarea class="lineBlock bo" name="description" cols="120" rows="3" placeholder="Description..."></textarea>#}
{#                    </label>#}
{#                </div>#}
{#                <div>#}
{#                    <label>#}
{#                        Category:#}
{#                        <input class="lineBlock bo" type="text" name="category">#}
{#                    </label>#}
{#                </div>#}
{#                <div>#}
{#                    <label>#}
{#                        Price:#}
{#                        <input class="lineBlock bo" type="number" name="price" placeholder="0.00 $" min=0>#}
{#                    </label>#}
{#                </div>#}
{#                <div>#}
{#                    <label>#}
{#                        Image URL:#}
{#                        <input class="lineBlock bo" type="text" name="image" placeholder="type your image url">#}
{#                    </label>#}
{#                </div>#}
{#                <input class="lineBlockBTN" type="submit" value="Creat">#}
{#            </form>#}
{#            <div class="massageBlock">#}
{#                    Already have an account? <a style="text-decoration: none; color: red" href="{% url 'login' %}"><strong>LOGIN here</strong></a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}



{#    {% if message %}#}
{#                <div class="lineBlock">{{ message }}</div>#}
{#            {% endif %}#}
{#    <div>#}
{#        <h2>Create a New Listing</h2>  <br>#}
{#            <form action="{% url 'listing' %}" method="post" enctype="multipart/form-data">#}
{#            {% csrf_token %}#}
{#                {{ form.as_p }}#}
{#                <div>#}
{#                <input type="submit" value="Create">#}
{#                </div>#}
{#            </form>#}
{#    </div>#}
{#    <hr>#}
{#    <div>#}
{#        {% if message %}#}
{#            <div role="alert">#}
{#                {{ message }}#}
{#            </div>#}
{#        {% endif %}#}
{#        <form action="{% url 'add_category' %}" method="post">#}
{#            {% csrf_token %}#}
{#            {{ category.as_div }}#}
{#            <div>#}
{#                <input type="submit" value="Add">#}
{#            </div>#}
{##}
{#        </form>#}
{#    </div>#}




        <div class="container">
        <div class=" text-center mt-5 ">

            <h1 >LISTING YOUR ITEM</h1>

            <!-- Alarm -->
            {% if message %}
            <div class="container mt-5">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                        <div class="alert alert_info"> <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&times;</button> <strong>{{ message }}</strong> </div>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>


    <div class="row ">
      <div class="col-lg-7 mx-auto">
        <div class="card-form mt-2 mx-auto p-4 bg-light">
            <div class="card-body bg-light">

            <div class = "container">

            <form action="{% url 'add_category' %}" method="post" enctype="multipart/form-data" id="contact-form" role="form">
                {% csrf_token %}
            <div class="controls">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_lastname">Category *</label>
                            {{ form.category }}

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ category.as_p }}
                        </div>
                    </div>
                </div>

                <div class="row">



                    <div class="col-md-12">

                        <input type="submit" class="btn btn-success btn-send  pt-2 btn-block
                            " value="ADD New Category" >

                </div>

                </div>


        </div>
         </form>
        </div>
            </div>


    </div>
        <!-- /.8 -->

    </div>
    <!-- /.row-->

</div>
</div>




    <div class="container">
        <div class=" text-center mt-5 ">

            <!-- Alarm -->
            {% if message %}
            <div class="container mt-5">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                        <div class="alert alert_info"> <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&times;</button> <strong>{{ message }}</strong> </div>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>


    <div class="row ">
      <div class="col-lg-7 mx-auto">
        <div class="card-form mt-2 mx-auto p-4 bg-light">
            <div class="card-body bg-light">

            <div class = "container">

            <form action="{% url 'listing' %}" method="post" enctype="multipart/form-data" id="contact-form" role="form">
                {% csrf_token %}
            <div class="controls">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
{#                            {{ form.as_p }}#}
                            <label>Title *</label>
                            {{ form.title }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_lastname">Category *</label>
                            {{ form.category }}

                        </div>
                    </div>
                </div>


                <div class="mb-3">
                    <label for="formFile" class="form-label">Chose your image </label>
                    <p class="form-control" type="file" id="formFile">{{ form.image }}</p>
                </div>
                <p>OR ...</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Image Url </label>
                            {{ form.imageUrl }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Price *</label>
                            {{ form.price }}
                        </div>
                    </div>
                </div>


                <!-- Description -->
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="form_message">Description *</label>
                        {{ form.description }}
                    </div>
                </div>

                <div class="row">



                    <div class="col-md-12">

                        <input type="submit" class="btn btn-success btn-send  pt-2 btn-block
                            " value="ADD ITEM" >

                </div>

                </div>


        </div>
         </form>
        </div>
            </div>


    </div>
        <!-- /.8 -->

    </div>
    <!-- /.row-->

</div>
</div>

{% endblock %}