{% extends "auctions/layout.html" %}
{% block title %}Login{% endblock %}

{% block body %}
    <div class="bodyBox">
        <div class="loginBox">
            <h1 class="lineBlock">Login</h1>
            {% if message %}
                <div class="lineBlock">{{ message }}</div>
            {% endif %}

            <form class="lineBlock" action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div>
                    <input class="lineBlock bo" autofocus  type="text" name="username" placeholder="Username">
                </div>
                <div >
                    <input class="lineBlock bo" type="password" name="password" placeholder="Password">
                </div>
                <input class="lineBlockBTN" type="submit" value="Login">
            </form>
            <div class="massageBlock">
                Don't have an account? <a style="text-decoration: none; color: red" href="{% url 'register' %}"><strong>REGISTER here</strong></a>
            </div>
        </div>
    </div>
{% endblock %}