{% extends "auctions/layout.html" %}
{% block title %}Login{% endblock %}

{% block body %}
{#    <div class="bodyBox">#}
{#        <div class="loginBox">#}
{#            <h1 class="lineBlock">Login</h1>#}
{#            {% if message %}#}
{#                <div class="lineBlock">{{ message }}</div>#}
{#            {% endif %}#}
{##}
{#            <form class="lineBlock" action="{% url 'login' %}" method="POST">#}
{#                {% csrf_token %}#}
{#                <div>#}
{#                    <input class="lineBlock bo" autofocus  type="text" name="username" placeholder="Username">#}
{#                </div>#}
{#                <div >#}
{#                    <input class="lineBlock bo" type="password" name="password" placeholder="Password">#}
{#                </div>#}
{#                <input class="lineBlockBTN" type="submit" value="Login">#}
{#            </form>#}
{#            <div class="massageBlock">#}
{#                Don't have an account? <a style="text-decoration: none; color: red" href="{% url 'register' %}"><strong>REGISTER here</strong></a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}



    <section class="">
        <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
            <div class="container">
                <div class="row gx-lg-5 align-items-center">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <h1 class="my-5 display-3 fw-bold ls-tight">
                            Auctions <br/>
                            <span class="text-primary">for CS50 project</span>
                        </h1>
                        <p style="color: hsl(217, 10%, 50.8%)">
                            CS50’s Web Programming with Python and JavaScript
                        </p>

                        <!-- Alarm -->
                        {% if message %}
                        <div class="container mt-5">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                                    <div class="alert alert_info"> <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&times;</button> <strong>{{ message }}</strong> </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    </div>

                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="card">
                            <div class="card-body py-5 px-md-5">
                                <form action="{% url 'login' %}" method="post">
                                {% csrf_token %}
                                <!-- User name -->
                                    <div class="form-outline mb-4">
                                        <input type="text" name="username" placeholder="chose an username..." id="form3Example3" class="form-control" autofocus required/>
                                        <label class="form-label" for="form3Example3">User name</label>
                                    </div>

                                <!-- Password input -->
                                    <div class="form-outline mb-4">
                                        <input type="password" name="password" placeholder="Chose a strong Password..." id="form3Example4" class="form-control" required/>
                                        <label class="form-label" for="form3Example4">Password</label>
                                    </div>

                                <!-- Submit button -->
                                    <button type="submit" class="btn btn-primary btn-block mb-4">
                                    Log In
                                    </button>

                                <!-- Register buttons -->
                                    <div class="text-center">
                                        <p>If you Don't have an account:</p>
                                        <button type="button" class="btn btn-link btn-floating mx-1">
                                        <a href="{% url 'register' %}"><strong>Sign Up</strong></a>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}