{% extends "auctions/layout.html" %}
{% block title %}{{ user.username }}-lists{% endblock %}

{% block body %}

    {% if items %}
        <div>
            <div class="cards-8 section-gray">
                <div class="container">
                    <div class="row">
                        {% for item in items %}
                        <div class="col-md-3">
                            <div class="card card-product">
                                <div class="card-image">
                                    {% if item.imageUrl %}
                                    <a href="{% url 'list_detail' list_id=item.pk %}"> <img class="img" src="{{ item.imageUrl }}" alt="{{ item.title }}||{{ item.description }}"> </a>
                                    {% else  %}
                                    <a href="{% url 'list_detail' list_id=item.pk %}"> <img class="img" src="{{ item.image.url }}" alt="{{ item.title }}||{{ item.description }}"> </a>
                                    {% endif %}
                                </div>
                                <div class="table">
                                    <h6 class="category text-rose">{{ item.category }}</h6>
                                    <h4 class="card-caption">
    						        <a href="{% url 'list_detail' list_id=item.pk %}">{{ item.title }}</a>
    					            </h4>
                                    <div class="category">
                                        {% if item.isActive %}
                                        <button  type="submit" rel="tooltip" title="" class="btn btn-success" data-original-title="Saved to Wishlist">ACTIVE</button>
                                        {% else %}
                                        <button  type="submit" rel="tooltip" title="" class="btn btn-danger" data-original-title="Saved to Wishlist">CLOSE</button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div>
            <div class="cards-8 section-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card card-product">
                            <div class="table">
                                <h4 class="card-caption">
                                <a>Noting here!</a>
            					</h4>
                                <div class="card-description"> <p style="width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Noting added to your favorite.</p> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
    {% endif %}

{% endblock %}