{% extends "auctions/layout.html" %}
{% block title %}{{ user.username }}{% endblock %}

{% block body %}

    {% if all_win %}
        <div>
            <div class="cards-8 section-gray">
                <div class="container">
                    <div class="row">
                        {% for win in all_win %}
                        <div class="col-md-3">
                            <div class="card card-product">
                                <div class="card-image">
                                    {% if all_win.imageUrl %}
                                    <a href="{% url 'list_detail' list_id=all_win.pk %}"> <img class="img" src="{{ all_win.imageUrl }}" alt="{{ all_win.title }}||{{ all_win.description }}"> </a>
                                    {% else  %}
                                    <a href="{% url 'list_detail' list_id=all_win.pk %}"> <img class="img" src="{{ all_win.image.url }}" alt="{{ all_win.title }}||{{ all_win.description }}"> </a>
                                    {% endif %}
                                </div>
                                <div class="table">
                                    <h6 class="category text-rose">{{ all_win.category }}</h6>
                                    <h4 class="card-caption">
    						        <a href="{% url 'list_detail' list_id=all_win.pk %}">{{ all_win.title }}</a>
    					            </h4>
                                    <div class="category">
                                        <form action="{% url 'rm_watch' all_win.pk %}" method="post">
                                            {% csrf_token %}
                                            <button  type="submit" rel="tooltip" title="" class="btn btn-danger" data-original-title="Saved to Wishlist">Remove</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div>
            <div class="cards-8 section-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card card-product">
                            <div class="table">
                                <h4 class="card-caption">
                                <a>Noting here!</a>
            					</h4>
                                <div class="card-description"> <p style="width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Noting added to your favorite.</p> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
    {% endif %}

{% endblock %}