{% extends "auctions/layout.html" %}

{% block body %}

    <div class="bodyBox">
    <div class="loginBox">
        <h1 class="lineBlock">Register</h1>
        {% if message %}
            <div class="lineBlock">{{ message }}</div>
        {% endif %}

        <form class="lineBlock" action="{% url 'register' %}" method="post">
        {% csrf_token %}
            <div>
                <input class="lineBlock bo" autofocus type="text" name="username" placeholder="Username">
            </div>
            <div>
                <input class="lineBlock bo" type="email" name="email" placeholder="Email Address">
            </div>
            <div>
                <input class="lineBlock bo" type="password" name="password" placeholder="Password">
            </div>
            <div>
                <input class="lineBlock bo" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <input class="lineBlockBTN" type="submit" value="Register">
        </form>
        <div class="massageBlock">
                Already have an account? <a style="text-decoration: none; color: red" href="{% url 'login' %}"><strong>LOGIN here</strong></a>
        </div>
    </div>
    </div>
{% endblock %}