{% extends "auctions/layout.html" %}
{% block title %}Watchlist{% endblock %}

{% block body %}
    {% if items %}
        {% for item in items %}
                <div>
                    <p>{{ item.item.title }}</p>
                    {% if item.item.imageUrl %}
                        <img style="max-width: 200px" src="{{ item.item.imageUrl }}" alt="{{ item.item.title }}">
                    {% else %}
                        <img style="max-width: 200px" src="{{ item.item.image }}" alt="{{ item.item.title }}">
                    {% endif %}
                </div>
                <form action="{% url 'rm_watch' item.item.pk %}" method="post">
                {% csrf_token %}
                    <input type="submit" value="REMOVE">
                </form>
        {% endfor %}
    {% else %}
        <p>NOTING</p>
    {% endif %}
{% endblock %}